.list{
    background-color: #ffffff;
    min-width: 100%;
 }

 .head-item{
    text-align: left;
 }

 .pagination{
    width: fit-content; 
 }

 .pagination-content{
    margin-top: 20px;
    align-items: center; 
    display: flex;           
    flex-direction: column;  
    justify-content: center;
    width: 100%;
 }

 .column-sm{
     max-width: 50px;
     min-width: 50px;

 }

 .column-md{
    max-width: 90px;
    min-width: 90px;
}



 
 
